## UNIT 26 세트 사용하기

### 26.1 세트 만들기

In [1]:
# 1. 세트는 중괄호{} 안에 값을 저장하며 각각의 값은 콤마(,)로 구분
fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}
fruits

{'cherry', 'grape', 'orange', 'pineapple', 'strawberry'}

In [2]:
# 2. 세트에 들어가는 요소는 중복될 수 없다
fruits = {'orange', 'orange', 'cherry'}
fruits

{'cherry', 'orange'}

In [3]:
# 3. 세트는 리스트, 튜플, 딕셔너리와 다르게 []로 특정 요소만 출력할 수 없다.
fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}
print(fruits[0])

TypeError: 'set' object is not subscriptable

In [5]:
# 4. 세트에 특정 값이 있는지 확인하기
fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}

'orange' in fruits

True

In [6]:
fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}

'peach' not in fruits

True

In [7]:
# 5. set를 사용하여 세트 만들기

a = set('apple')
a

{'a', 'e', 'l', 'p'}

In [8]:
b = set(range(5))

b

{0, 1, 2, 3, 4}

In [9]:
c = set()

c

set()

In [10]:
c = {}
type(c)

dict

In [12]:
c = set()
type(c)

set

In [13]:
set('안녕하세요')

{'녕', '세', '안', '요', '하'}

In [16]:
a = {{1, 2}, {3, 4}}
# 세트 안에 세트를 넣을 수 없다

TypeError: unhashable type: 'set'

In [17]:
# 6. 프로즌 세트(frozenset)
# 내용을 변경할 수 없는 세트

a = frozenset(range(10))
a

frozenset({0, 1, 2, 3, 4, 5, 6, 7, 8, 9})

### 26.2 집합 연산 사용하기

In [23]:
# 1. 합집합

a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

a|b # 합집합

{1, 2, 3, 4, 5, 6}

In [21]:
set.union(a, b) # 합집합

{1, 2, 3, 4, 5, 6}

In [24]:
# 2. 교집합
a & b

{3, 4}

In [25]:
set.intersection(a, b)

{3, 4}

In [26]:
# 3. 차집합
a - b

{1, 2}

In [27]:
set.difference(a, b)

{1, 2}

In [29]:
# 4. 대칭차집합(^)
a ^ b
# 두 집합 중에 겹치지 않는 부분들만 표시

{1, 2, 5, 6}

In [30]:
set.symmetric_difference(a, b)

{1, 2, 5, 6}

In [31]:
# 5. 집합 연산 후 할당 연산자 사용하기
a = {1, 2, 3, 4}
a |= {5}
a

{1, 2, 3, 4, 5}

In [33]:
a = {1, 2, 3, 4}
a.update({5})
a

{1, 2, 3, 4, 5}

In [34]:
a = {1, 2, 3, 4}
a &= {0, 1, 2, 3, 4}
a

{1, 2, 3, 4}

In [36]:
a = {1, 2, 3, 4}
a.intersection_update({0, 1, 2, 3, 4})
a
# 세트 1~4와 세트 0~4에서 겹치는 부분만 a에 저장

{1, 2, 3, 4}

In [37]:
a = {1, 2, 3, 4}
a -= {3}
a

{1, 2, 4}

In [38]:
a = {1, 2, 3, 4}
a ^= {3, 4, 5, 6}
a

{1, 2, 5, 6}

In [39]:
a = {1, 2, 3, 4}
a.symmetric_difference_update({3, 4, 5, 6})
a

{1, 2, 5, 6}

In [40]:
# 6. 부분집합과 상위집합 확인하기
a = {1, 2, 3, 4}
a <= {1, 2, 3, 4}
# <= 현재 세트가 다른 세트의 부분집합(subset)인지 확인

True

In [41]:
a.issubset({1, 2, 3, 4, 5})

True

In [42]:
# < : 현재 세트가 다른 세트의 진부분집합(proper subset)인지 확인
a = {1, 2, 3, 4}
a < {1, 2, 3, 4, 5}

True

In [43]:
# >= : 현재 세트가 다른 세트의 상위집합(superset)인지 확인
a = {1, 2, 3, 4}
a >= {1, 2, 3, 4}

True

In [44]:
a.issuperset({1, 2, 3, 4})

True

In [45]:
# > : 현재 세트가 다른 세트의 진상위집합(proper superset)인지 확인
a = {1, 2, 3, 4}
a > {1, 2, 3}

True

In [46]:
# 7. 세트가 같은지 다른지 확인하기
a = {1, 2, 3, 4}
a == {1, 2, 3, 4}

True

In [47]:
a == {4, 1, 2, 3}
# 순서는 달라도 상관없다

True

In [49]:
a = {1, 2, 3, 4}
a != {1, 2, 3}
# != 는 세트가 다른지 확인

True

In [50]:
# 8. 세트가 겹치지 않는지 확인하기
a = {1, 2, 3, 4}
a.isdisjoint({5, 6, 7, 8}) # 겹치는 요소가 없음

True

In [51]:
a.isdisjoint({3, 4, 5, 6}) # a와 3, 4가 겹침

False

### 26.3 세트 조작하기

In [58]:
# 1. 세트에 요소를 추가하기
a = {1, 2, 3, 4}
a.add(5)

a

{1, 2, 3, 4, 5}

In [59]:
# 2. 세트에서 특정 요소를 삭제하기
a = {1, 2, 3, 4}
a.remove(3)

a

{1, 2, 4}

In [60]:
a.discard(2)
a

{1, 4}

In [61]:
a.discard(3)
a

{1, 4}

In [62]:
# 3. 세트에서 임의의 요소를 삭제하기

a = {1, 2, 3, 4}
a.pop()

a

{2, 3, 4}

In [64]:
# 4. 세트의 모든 요소를 삭제하기
a = {1, 2, 3, 4}
a.clear()

a

set()

In [65]:
# 5. 세트의 요소 개수 구하기
a = {1, 2, 3, 4}
len(a)

4

### 26.4 세트의 할당과 복사

In [67]:
a = {1, 2, 3, 4}
b = a
# 세트를 다른 변수에 할당하면 세트는 두 개가 될 것 같지만 실제로는 세트가 한 개

In [68]:
a is b

True

In [69]:
b.add(5)
a

{1, 2, 3, 4, 5}

In [70]:
# 세트 a와 b 두 개로 완전히 만들려면 copy 메서드로 모든 요소를 복사해야 함
a = {1, 2, 3, 4}
b = a.copy()

In [72]:
a is b
# 두 개는 서로 다른 객체

False

In [73]:
a == b

True

In [74]:
a = {1, 2, 3, 4}
b = a.copy()
b.add(5)

a

{1, 2, 3, 4}

### 26.5 반복문으로 세트의 요소를 모두 출력하기

In [75]:
a = {1, 2, 3, 4}
for i in a:
    print(i)

1
2
3
4

### 26.6 세트 표현식 사용하기

In [76]:
a = {i for i in 'apple'}
a

{'a', 'e', 'l', 'p'}

In [77]:
# 1. 세트 표현식에 if 조건문 사용하기
a = {i for i in 'pineapple' if i not in 'apl'}
a

{'e', 'i', 'n'}

### 26.8 연습문제 : 공배수 구하기

다음 소스 코드를 완성하여 1부터 100까지 숫자 중 3과 5의 공배수를 세트 형태로 출력되게 만드세요.

In [78]:
a = {i for i in range(1, 101) if i % 3 == 0}
b = {i for i in range(1, 101) if i % 5 == 0}

print(a&b)

{75, 45, 15, 90, 60, 30}

### 26.9 심사문제 : 공약수 구하기

표준 입력으로 양의 정수 두 개가 입력됩니다. 다음 소스 코드를 완성하여 두 숫자의 공약수를 세트 형태로 구하도록 만드세요. 단, 최종 결과는 공약수의 합으로 판단합니다.

In [80]:
num1, num2 = map(int, input().split())
a = {i for i in range(1, num1+1) if num1 % i == 0}
b = {i for i in range(1, num2+1) if num2 % 2 == 0}

divisor = a & b
result = 0

if type(divisor) == set:
    result = sum(divisor)
    
print(result)

100 200
217