## UNIT 22 리스트와 튜플 활용하기

### 22.1 리스트 조작하기

### 파이썬의 리스트는 생각보다 기능이 많은데, 요소를 추가/삭제하거나, 정보를 조회하는 메서드(함수)도 제공
특히 for 반복문과 결합하면 연속적이고 반복되는 값을 손쉽게 처리할 수 있음

리스트의 대표적인 기능은 '요소 추가'
- append : 요소 하나를 추가
- extend : 리스트를 연결하여 확장
- insert : 특정 인덱스에 요소 추가

In [1]:
# 리스트에 요소 하나 추가하기
a = [10, 20, 30]
a.append(500)

a

[10, 20, 30, 500]

In [2]:
len(a)

4

In [3]:
# 빈 리스트에 값을 추가할 수도 있음
a = []
a.append(500)

a

[500]

In [4]:
# 리스트 안에 리스트 추가하기
a = [10, 20, 30]
a.append([500, 600])

a

[10, 20, 30, [500, 600]]

In [5]:
len(a)

4

In [6]:
# 리스트 확장하기
a = [10, 20, 30]
a.extend([500, 600])

a

[10, 20, 30, 500, 600]

In [7]:
len(a)
# append와 extend의 차이를 생각할 것

5

In [8]:
# 리스트의 특정 인덱스에 요소 추가하기
a = [10, 20, 30]
a.insert(2, 500)

a
# (a, b) 인덱스 a에 요소 b를 추가

[10, 20, 500, 30]

In [9]:
len(a)

4

In [10]:
# insert에서 자주 사용하는 패턴 1
a = [10, 20, 30]
a.insert(0, 500)

a

[500, 10, 20, 30]

In [13]:
# insert에서 자주 사용하는 패턴 2
a = [10, 20, 30]
a.insert(len(a), 500) # 마지막에 요소 하나 추가하기

a

[10, 20, 30, 500]

In [14]:
# 만약 리스트 중간에 요소 여러 개를 추가하고 싶다면?
a = [10, 20, 30]
a[1:1] = [500, 600]

a

[10, 500, 600, 20, 30]

In [20]:
a = [10, 20, 30]
a[1] = [500, 600, 700]

a

[10, [500, 600, 700], 30]

### 리스트에서 요소 삭제하기
- pop : 마지막 요소 또는 특정 인덱스의 요소를 삭제
- remove : 특정 값을 찾아서 삭제

In [24]:
# 마지막 요소 삭제
a = [10, 20, 30, 40, 50]
a.pop() # 리스트의 마지막 요소를 삭제한 뒤 삭제한 요소를 반환

50

In [22]:
a

[10, 20, 30, 40]

In [23]:
a = [10, 20, 30, 40, 50]
a.pop(1)

a

[10, 30, 40, 50]

In [25]:
# 특정 값을 찾아서 삭제
a = [10, 20, 30, 40, 50]
a.remove(20)

a

[10, 30, 40, 50]

In [26]:
# 리스트에 같은 값이 여러 개 있다면? 처음 찾은 값을 삭제
a = [10, 20, 30, 40, 50, 30]
a.remove(30)

a

[10, 20, 40, 50, 30]

In [27]:
# 리스트에서 특정 값의 인덱스 구하기
a = [10, 20, 30, 40, 50, 60, 70, 80]

a.index(30)

2

In [28]:
# 리스트에서 특정 값의 개수 구하기
a = [10, 20, 30, 40, 50, 60, 70, 80, 30, 40, 20, 40, 50, 30, 30]

a.count(30)

4

In [29]:
# 리스트의 순서를 뒤집기
a = [10, 20, 30, 40, 50, 60, 70, 80]

a.reverse()
a

[80, 70, 60, 50, 40, 30, 20, 10]

In [30]:
# 리스트의 요소를 정렬하기
a = [10, 20, 30, 15, 20, 40]

a.sort()
a

[10, 15, 20, 20, 30, 40]

In [31]:
# 내림차순으로 정렬하기
a = [10, 20, 30, 15, 20, 40]

a.sort(reverse=True)
a

[40, 30, 20, 20, 15, 10]

In [32]:
# sort & sorted 함수
# sort() : 정렬
# sorted() : 정렬 후 새로운 리스트 생성

In [34]:
# 리스트의 모든 요소를 삭제하기
a = [10, 20, 30, 15, 20, 40]

a.clear()
a

[]

In [35]:
a = [10, 20, 30, 15, 20, 40]

del a[:]
a

[]

In [36]:
# 리스트를 슬라이스로 조작하기
a = [10, 20, 30, 15, 20, 40]
a[len(a):] = [500]

a

[10, 20, 30, 15, 20, 40, 500]

### 22.2 리스트의 할당과 복사 알아보기

In [37]:
a = [0, 0, 0, 0, 0]
b = a

In [39]:
a is b
# 즉, 변수 이름만 다를 뿐 리스트 a와 b는 같은 객체

True

In [40]:
b[2] = 99
a

[0, 0, 99, 0, 0]

In [41]:
# a와 b를 완전히 두 개로 만들려면? copy 메서드로 모든 요소를 복사해야 함
a = [0, 0, 0, 0, 0]
b = a.copy()

a is b

False

In [42]:
a == b

True

### 22.3 반복문으로 리스트의 요소를 모두 출력하기

In [44]:
# for 반복문으로 리스트의 요소를 모두 출력하기
a = [38, 21, 53, 62, 19]

for i in a:
    print(i)

38
21
53
62
19

In [45]:
# 인덱스와 요소를 함께 출력하기
a = [38, 21, 53, 62, 19]
for index, value in enumerate(a):
    print(index, value)

0 38
1 21
2 53
3 62
4 19

In [46]:
# 인덱스를 1부터 출력하고 싶다면?
a = [38, 21, 53, 62, 19]
for index, value in enumerate(a):
    print(index + 1, value)

1 38
2 21
3 53
4 62
5 19

In [47]:
a = [38, 21, 53, 62, 19]
for index, value in enumerate(a, start=1):
    print(index, value)

1 38
2 21
3 53
4 62
5 19

In [48]:
# for 반복문에서 인덱스로 요소를 출력하기
a = [38, 21, 53, 62, 19]
for i in range(len(a)):
    print(a[i])

38
21
53
62
19

In [49]:
# while 반복문으로 요소 출력하기
a = [38, 21, 53, 62, 19]

i = 0
while i < len(a):
    print(a[i])
    i += 1

38
21
53
62
19

### 22.4 리스트의 가장 작은 수, 큰 수, 합계 구하기

In [50]:
a = [38, 21, 53, 62, 19]

smallest = a[0]
for i in a:
    if i < smallest:
        smallest = i
        
smallest

19

In [51]:
a = [38, 21, 53, 62, 19]

largest = a[0]
for i in a:
    if i > largest:
        largest = i
        
largest

62

In [52]:
a = [38, 21, 53, 62, 19]
a.sort()
a[0]

19

In [54]:
a = [38, 21, 53, 62, 19]
min(a)

19

In [55]:
a = [38, 21, 53, 62, 19]
max(a)

62

In [59]:
# 요소의 합계 구하기
a = [38, 21, 53, 62, 19]

x = 0
for i in a:
    x += i
    
x

193

In [60]:
a = [38, 21, 53, 62, 19]
sum(a)

193

### 22.5 리스트 표현식 사용하기
List comprehension : 리스트 안에 식, for반복문, if조건문 등을 지정하여 리스트를 생성하는 것

In [61]:
a = [i for i in range(10)] # 0부터 9까지 숫자를 생성하여 리스트 생성
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
b = list(i for i in range(10))
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
c = [i+5 for i in range(10)]
c

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [64]:
d = [i*2 for i in range(10)]
d

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [65]:
# 리스트 표현식에 if 조건문 사용하기
a = [i for i in range(10) if i % 2 == 0]
a

[0, 2, 4, 6, 8]

In [66]:
b = [i+5 for i in range(10) if i % 2 == 1]
b

[6, 8, 10, 12, 14]

In [67]:
# for 반복문과 if 조건문을 여러 번 사용하기
# 2단 ~ 9단 구구단 리스트 생성

a = [i * j for j in range(2, 10) for i in range(1, 10)]
a

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [69]:
a = [i * j for j in range(2, 10) 
           for i in range(1, 10)]

a

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

### 22.6 리스트에 map 사용하기

In [73]:
# 실수가 저장된 리스트가 있을 때 이 리스트의 모든 요소를 정수로 변환
a = [2.2, 3.5, 3.7, 4.6]
for i in range(len(a)):
    a[i] = int(a[i])
    
a

[2, 3, 3, 4]

In [74]:
a = [2.2, 3.5, 3.7, 4.6]
a = list(map(int, a))

a

[2, 3, 3, 4]

In [75]:
a = list(map(str, range(10)))
a

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [76]:
a = input().split()
a

10 20

['10', '20']

In [77]:
a = map(int, input().split())

10 20

In [78]:
a

In [79]:
list(a)

[10, 20]

In [80]:
x = input().split() # input().split()의 결과는 문자열 리스트
m = map(int, x) # 리스트의 요소를 int로 변환, 결과는 맵 객체
a, b = m # 맵 객체는 변수 여러 개에 저장할 수 있음

10 20

### 22.7 튜플 응용하기

In [81]:
# 튜플에서 특정 값의 인덱스 구하기
a = (38, 21, 53, 62, 19, 53)

a.index(53)

2

In [82]:
# 특정 값의 개수 구하기
a = (10, 20, 30, 15, 20, 40)

a.count(20)

2

In [83]:
# for 반복문으로 요소 출력하기
a = (38, 21, 53, 62, 19)

for i in a:
    print(i, end=' ')

38 21 53 62 19

In [84]:
# 튜플 표현식 사용하기
a = tuple(i for i in range(10) if i % 2 == 0)
a

(0, 2, 4, 6, 8)

In [85]:
# 만약 괄호()안에 표현식을 넣으면 튜플이 아니라 제너레이터 표현식이 된다.
# 제너레이터 표현식 : Unit 40

In [86]:
# 튜플에 map 사용하기
a = (3.5, 4.7, 8.1, 9.6)
a = tuple(map(int, a))

a

(3, 4, 8, 9)

In [87]:
# 튜플에서 가장 작은 수, 가장 큰 수, 합계 구하기
a = (38, 21, 53, 62, 19)

min(a)

19

In [88]:
max(a)

62

In [89]:
sum(a)

193

### 22.9 연습문제 : 리스트에서 특정 요소만 뽑아내기

다음 소스 코드를 완성하여 리스트 a에 들어있는 문자열 중에서 길이가 5인 것들만 리스트 형태로 출력되게 만드세요.

In [90]:
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'golf', 'hotel', 'india']

b = [i for i in a if len(i) == 5]

b

['alpha', 'bravo', 'delta', 'hotel', 'india']

### 22.10 심사문제 : 2의 거듭제곱 리스트 생성하기

표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1 ~ 20, 두 번째 입력 값의 범위는 10 ~ 30이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다). 첫 번째 정수부터 두 번째 정수까지를 지수로 하는 2의 거듭제곱 리스트를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 리스트의 두 번째 요소와 뒤에서 두 번째 요소는 삭제한 뒤 출력하세요. 출력 결과는 리스트 형태라야 합니다.

In [91]:
start, stop = map(int, input().split())

a = [2 ** i for i in range(start, stop+1)]

del a[1]
del a[-2]

a

10 20

[1024, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 1048576]