## UNIT 30 함수에서 위치 인수와 키워드 인수 사용하기

### 30.1 위치 인수와 리스트 언패킹 사용하기

In [1]:
# 1. 위치 인수(positional argument)
# 함수에 인수를 순서대로 넣는 방식

print(10, 20, 30)

10 20 30

In [2]:
# 2. 위치 인수를 사용하는 함수를 만들고 호출하기
def print_numbers(a, b, c):
    print(a)
    print(b)
    print(c)

In [3]:
print_numbers(10, 20, 30)

10
20
30

In [4]:
# 3. 언패킹 사용하기
# 인수를 순서대로 넣을 때 리스트나 튜플을 사용할 수도 있음

x = [10, 20, 30]
print_numbers(x)

TypeError: print_numbers() missing 2 required positional arguments: 'b' and 'c'

In [7]:
x = [10, 20, 30]
print_numbers(*x)

# x앞에 *를 붙여야 함
# * : unpacking, 리스트의 포장을 푼다는 뜻

10
20
30

In [8]:
print_numbers(*[10, 20, 30])
# 리스트 바로 앞에 붙여도 결과는 같음

10
20
30

In [9]:
# 4. 가변 인수 함수 만들기
def print_numbers(*args):
    for arg in args:
        print(arg)

In [10]:
print_numbers(10)

10

In [11]:
print_numbers(10, 20, 30, 40)

10
20
30
40

In [12]:
x = [10]
print_numbers(*x)

10

In [13]:
y = [10, 20, 30, 40]
print_numbers(*y)

10
20
30
40

In [ ]:
# 5. 고정 인수와 가변 인수를 함께 사용하기

In [14]:
def print_numbers(a, *args):
    print(a)
    print(args)

In [15]:
print_numbers(1)

1
()

In [16]:
print_numbers(1, 10, 20)

1
(10, 20)

In [17]:
print_numbers(*[10, 20, 30])

10
(20, 30)

### 30.2 키워드 인수 사용하기

In [18]:
def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [19]:
personal_info('홍길동', 30, '서울시 용산구 이촌동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [20]:
personal_info(name='홍길동', age=30, address='서울시 용산구 이촌동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [21]:
personal_info(age=30, address='서울시 용산구 이촌동', name='홍길동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [22]:
print(10, 20, 30, sep=':', end='')

10:20:30

### 30.3 키워드 인수와 딕셔너리 언패킹 사용하기

In [23]:
def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [24]:
x = {'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'}
personal_info(**x)
# 반드시 x앞에 **를 넣어야 한다

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [25]:
personal_info(**{'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'})

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [28]:
x = {'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'}
personal_info(*x)
# *를 두 번 사용하는 이유

이름:  name
나이:  age
주소:  address

In [29]:
x = {'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'}
personal_info(**x)

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [30]:
def personal_info(**kwargs):
    for kw, arg in kwargs.items():
        print(kw, ': ', arg, sep='')

In [31]:
personal_info(name='홍길동')

name: 홍길동

In [32]:
personal_info(name='홍길동', age=30, address='서울시 용산구 이촌동')

name: 홍길동
age: 30
address: 서울시 용산구 이촌동

In [33]:
x = {'name': '홍길동'}
personal_info(**x)

name: 홍길동

In [34]:
y = {'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'}
personal_info(**y)

name: 홍길동
age: 30
address: 서울시 용산구 이촌동

In [35]:
def personal_info(**kwargs):
    if 'name' in kwargs:    # in으로 딕셔너리 안에 특정 키가 있는지 확인
        print('이름: ', kwargs['name'])
    if 'age' in kwargs:
        print('나이: ', kwargs['age'])
    if 'address' in kwargs:
        print('주소: ', kwargs['address'])

### 30.4 매개변수에 초깃값 사용하기

In [36]:
def personal_info(name, age, address='비공개'):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [37]:
personal_info('홍길동', 30)

이름:  홍길동
나이:  30
주소:  비공개

In [38]:
personal_info('홍길동', 30, '서울시 용산구 이촌동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [39]:
def personal_info(name, address='비공개', age):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

SyntaxError: non-default argument follows default argument (Temp/ipykernel_11660/427868163.py, line 1)

In [41]:
def personal_info(name, age, address='비공개'):
def personal_info(name, age=0, address='비공개'):
def personal_info(name='비공개', age=0, address='비공개'):

IndentationError: expected an indented block (Temp/ipykernel_11660/2724935578.py, line 2)

### 30.6 연습문제 : 가장 높은 점수를 구하는 함수 만들기

다음 소스 코드를 완성하여 가장 높은 점수가 출력되게 만드세요.

In [42]:
korean, english, mathematics, science = 100, 86, 81, 91

def get_max_score(*args):
    return max(args)

max_score = get_max_score(korean, english, mathematics, science)
print('높은 점수:', max_score)
 
max_score = get_max_score(english, science)
print('높은 점수:', max_score)

높은 점수: 100
높은 점수: 91

### 30.7 심사문제: 가장 낮은 점수, 높은 점수와 평균 점수를 구하는 함수 만들기

표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다. 다음 소스 코드를 완성하여 가장 높은 점수, 가장 낮은 점수, 평균 점수가 출력되게 만드세요. 평균 점수는 실수로 출력되어야 합니다.

In [43]:
korean, english, mathematics, science = map(int, input().split())

def get_min_max_score(*args):
    return min(args), max(args)

def get_average(**kwargs): # 키워드 인수를 사용한 가변 인수함수
    return (sum(kwargs.values())/len(kwargs)) # len(kwargs)는 키의 개수

min_score, max_score = get_min_max_score(korean, english, mathematics, science)
average_score = get_average(korean=korean, english=english,
                            mathematics=mathematics, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))
 
min_score, max_score = get_min_max_score(english, science)
average_score = get_average(english=english, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))

89 92 73 83
낮은 점수: 73.00, 높은 점수: 92.00, 평균 점수: 84.25
낮은 점수: 83.00, 높은 점수: 92.00, 평균 점수: 87.50