## UNIT 32 람다 표현식으로 함수 만들기

### 32.1 람다 표현식으로 함수 만들기

In [1]:
def plus_ten(x):
    return x + 10

In [2]:
plus_ten(1)

11

In [3]:
lambda x : x + 10

In [5]:
plus_ten = lambda x: x+10
plus_ten(1)
# lambda x: x+10 은 매개변수 x 하나를 받고, x에 10을 더해서 반환한다는 뜻

11

In [6]:
plus_ten = lambda x: x + 10
plus_ten(1)

11

In [7]:
(lambda x: x + 10)(1)

11

In [8]:
# 람다 표현식 안에서는 변수를 만들 수 없다
(lambda x: y = 10; x + y)(1)

SyntaxError: invalid syntax (Temp/ipykernel_17684/473814109.py, line 2)

In [9]:
y = 10
(lambda x: x + y)(1)

11

In [10]:
# 람다 표현식을 인수로 사용하기
def plus_ten(x):
    return x + 10

list(map(plus_ten, [1, 2, 3]))

[11, 12, 13]

In [11]:
list(map(lambda x: x+10, [1, 2, 3]))

[11, 12, 13]

In [12]:
(lambda : 1)()

1

In [13]:
x = 10
(lambda : x)()

10

### 32.2 람다 표현식과 map, filter, reduce 함수 활용하기

In [15]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x: str(x) if x % 3 == 0 else x, a))
# map을 사용하여 리스트 a에서 3의 배수를 문자열로 전환

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [16]:
list(map(lambda x: str(x) if x % 3 == 0, a))

SyntaxError: invalid syntax (Temp/ipykernel_17684/1941924772.py, line 1)

In [17]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x: str(x) if x == 1 else float(x) if x == 2 else x + 10, a))

['1', 2.0, 13, 14, 15, 16, 17, 18, 19, 20]

In [18]:
def f(x):
    if x == 1:
        return str(x)
    elif x == 2:
        return float(x)
    else:
        return x + 10

a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(f, a))

['1', 2.0, 13, 14, 15, 16, 17, 18, 19, 20]

In [19]:
# map에 객체를 여러 개 넣기
a = [1, 2, 3, 4, 5]
b = [2, 4, 6, 8, 10]

list(map(lambda x, y: x * y, a, b))

[2, 8, 18, 32, 50]

In [20]:
# filter 사용하기

def f(x):
    return x > 5 and x < 10

a = [8, 3, 2, 10, 15, 7, 1, 9, 0, 11]
list(filter(f, a))

[8, 7, 9]

In [21]:
a = [8, 3, 2, 10, 15, 7, 1, 9, 0, 11]
list(filter(lambda x: x > 5 and x < 10, a))

[8, 7, 9]

In [22]:
# reduce 사용하기
def f(x, y):
    return x + y

a = [1, 2, 3, 4, 5]
from functools import reduce
reduce(f, a)

15

In [23]:
a = [1, 2, 3, 4, 5]
from functools import reduce
reduce(lambda x, y: x + y, a)

15

### 32.4 연습문제 : 이미지 파일만 가져오기

다음 소스 코드를 완성하여 확장자가 .jpg, .png인 이미지 파일만 출력되게 만드세요. 여기서는 람다 표현식을 사용해야 하며 출력 결과는 리스트 형태라야 합니다. 람다 표현식에서 확장자를 검사할 때는 문자열 메서드를 활용하세요.

In [24]:
files = ['font', '1.png', '10.jpg', '11.gif', '2.jpg', '3.png', 'table.xslx', 'spec.docx']
 
print(list(filter(lambda x: x.find('.jpg') != -1 or x.find('.png') != -1, files)))

['1.png', '10.jpg', '2.jpg', '3.png']

### 32.5 심사문제 : 파일 이름을 한꺼번에 바꾸기

표준 입력으로 숫자.확장자 형식으로 된 파일 이름 여러 개가 입력됩니다. 다음 소스 코드를 완성하여 파일 이름이 숫자 3개이면서 앞에 0이 들어가는 형식으로 출력되게 만드세요. 예를 들어 1.png는 001.png, 99.docx는 099.docx, 100.xlsx는 100.xlsx처럼 출력되어야 합니다. 그리고 람다 표현식을 사용해야 하며 출력 결과는 리스트 형태라야 합니다. 람다 표현식에서 파일명을 처리할 때는 문자열 포매팅과 문자열 메서드를 활용하세요.

In [29]:
files = input().split()
 
print(list(map(lambda x:'{0:03d}'.format(int(x.split('.')[0]))+'.'+x.split('.')[1],files)))

1.jpg 10.png 11.png
['001.jpg', '010.png', '011.png']