## UNIT 24 문자열 응용하기

### 24.1 문자열 조작하기

In [1]:
# 1. 문자열 바꾸기
'Hello, world!'.replace('world', 'Python')

'Hello, Python!'

In [2]:
s = 'Hello, world!'
s = s.replace('world!', 'Python')

s

'Hello, Python'

In [4]:
# 2. 문자 바꾸기
table = str.maketrans('aeiou', '12345')
'apple'.translate(table)

'1ppl2'

In [5]:
# 3. 문자열 분리하기
# split() : 공백을 기준으로 문자열을 분리하여 리스트로 만듬

'apple pear grape pineapple orange'.split()

['apple', 'pear', 'grape', 'pineapple', 'orange']

In [10]:
'apple, pear, grape, pineapple, orange'.split(', ')

['apple', 'pear', 'grape', 'pineapple', 'orange']

In [11]:
# 4. 구분자 문자열과 문자열 리스트 연결하기
' '.join(['apple', 'pear', 'grape', 'pineapple', 'orange'])

'apple pear grape pineapple orange'

In [12]:
# 5. 소문자를 대문자로 바꾸기
'python'.upper()

'PYTHON'

In [13]:
# 6. 대문자를 소문자로 바꾸기
'PYTHON'.lower()

'python'

In [14]:
# 7. 왼쪽 공백 삭제하기
'   Python   '.lstrip()

'Python   '

In [15]:
# 8. 오른쪽 공백 삭제하기
'   Python   '.rstrip()

'   Python'

In [16]:
# 9. 양쪽 공백 삭제하기
'   Python   '.strip()

'Python'

In [17]:
# 10. 왼쪽의 특정 문자를 삭제하기
', python.'.lstrip(',.')

' python.'

In [18]:
# 11. 오른쪽의 특정 문자를 삭제하기
', python.'.rstrip(',.')

', python'

In [19]:
# 12. 양쪽의 특정 문자를 삭제하기
', python.'.strip(',.')

' python'

In [20]:
# 13. 문자열을 왼쪽 정렬하기
'python'.ljust(10)

'python    '

In [21]:
# 14. 문자열을 오른쪽 정렬하기
'python'.rjust(10)

'    python'

In [24]:
# 15. 문자열을 가운데 정렬하기
'python'.center(10)

'  python  '

In [25]:
'python'.center(11)

'   python  '

In [26]:
# 16. 메서드 체이닝(method chaining)
# 메서드를 줄줄이 연결한다는 뜻에서 메서드 체이닝

'python'.rjust(10).upper()

'    PYTHON'

In [27]:
# 17. 문자열 왼쪽에 0 채우기
'35'.zfill(4) # 숫자 앞에 0을 채움

'0035'

In [28]:
'3.5'.zfill(6) # 숫자 앞에 0을 채움

'0003.5'

In [29]:
'hello'.zfill(10) # 문자열 앞에 0을 채울 수도 있음

'00000hello'

In [30]:
# 18. 문자열 위치 찾기
'apple pineapple'.find('pl')

2

In [32]:
'apple pineapple'.find('xy')
# 문자열이 없으면 -1을 반환

-1

In [33]:
# 19. 오른쪽에서부터 문자열 위치 찾기
'apple pineapple'.rfind('pl')

12

In [34]:
'apple pineapple'.rfind('xy')

-1

In [35]:
# 20. 문자열 위치 찾기
'apple pineapple'.index('pl')

2

In [36]:
# 21. 오른쪽에서부터 문자열 위치 찾기
'apple pineapple'.rindex('pl')

12

In [37]:
# 22. 문자열 개수 세기
'apple pineapple'.count('pl')

2

### 24.2 문자열 서식 지정자와 포매팅 사용하기

In [39]:
# 1. 서식 지정자로 문자열 넣기

'I am %s.' % 'james'

'I am james.'

In [40]:
name = 'maria'

'I am %s.' % name

'I am maria.'

In [41]:
# 2. 서식 지정자로 숫자 넣기

'I am %d years old.' % 20

'I am 20 years old.'

In [44]:
# 3. 서식 지정자로 소수점 표현하기

'%f' % 2.3
# %f는 기본적으로 소수점 이하 6자리까지 표시하므로 2.3은 2.300000으로 표시됨

# 소수점 이하 자릿수를 지정하고 싶다면?
'%.2f' % 2.3

'2.30'

In [45]:
# 4. 서식 지정자로 문자열 정렬하기

'%10s' % 'python'

'    python'

In [46]:
# 4-1. 자릿수가 다른 숫자 출력하기

'%10d' % 150

'       150'

In [47]:
'%10d' % 15000

'     15000'

In [48]:
'%10.2f' % 2.3

'      2.30'

In [49]:
'%10.2f' % 2000.3

'   2000.30'

In [50]:
# 4-2. 왼쪽으로 문자열 정렬하기

'%-10s' % 'python'

'python    '

In [51]:
# 5. 서식 지정자로 문자열 안에 값 여러 개 넣기

'Today is %d %s.' % (3, 'April')

'Today is 3 April.'

In [52]:
'Today is %d%s.' % (3, 'April')

'Today is 3April.'

In [53]:
# 6. format 매서드 사용하기

'Hello, {0}'.format('world!')

'Hello, world!'

In [54]:
'Hello, {0}'.format(100)

'Hello, 100'

In [55]:
# 7. format 매서드로 값을 여러 개 넣기

'Hello, {0} {2} {1}'.format('Python', 'Script', 3.6)

'Hello, Python 3.6 Script'

In [56]:
# 8. format 매서드로 같은 값을 여러 개 넣기

'{0} {0} {1} {1}'.format('Python', 'Script')

'Python Python Script Script'

In [57]:
# 9. format 매서드에서 인덱스 생략하기

'Hello, {} {} {}'.format('Python', 'Script', 3.6)

'Hello, Python Script 3.6'

In [58]:
# 10. format 매서드에서 인덱스 대신 이름 지정하기

'Hello, {language} {version}'.format(language = 'Python', version = 3.6)

'Hello, Python 3.6'

In [61]:
# 11. 문자열 포매팅에 변수를 그대로 사용하기
# f : formatting

language = 'Python'
version = 3.6

f'hello, {language} {version}'

'hello, Python 3.6'

In [62]:
# 12. format 매서드로 문자열 정렬하기

'{0:<10}'.format('python')
# 부등호 방향이 왼쪽을 가리키고 있고
# 이것은 문자열을 지정된 길이로 만든 뒤 왼쪽으로 정렬하고 남는 공간은 공백으로 채운다는 뜻

'python    '

In [63]:
'{0:>10}'.format('python')

'    python'

In [64]:
'{:>10}'.format('python')
# 인덱스를 사용하지 않는다면 :(콜론)과 정렬 방법만 지정해도 된다

'    python'

In [65]:
# 13. 숫자 개수 맞추기

'%03d' % 1

'001'

In [66]:
'{0:03d}'.format(35)

'035'

In [67]:
'%08.2f' % 3.6

'00003.60'

In [68]:
'{0:08.2f}'.format(150.37)

'00150.37'

In [69]:
# 14. 채우기와 정렬을 조합해서 사용하기

'{0:0<10}'.format(15) # 길이 10, 왼쪽으로 정렬하고 남는 공간은 0으로 채움

'1500000000'

In [70]:
'{0:0>10}'.format(15) # 길이 10, 오른쪽으로 정렬하고 남는 공간은 0으로 채움

'0000000015'

In [71]:
'{0:0>10.2f}'.format(15) # 길이 10, 오른쪽으로 정렬하고 소수점 자릿수는 2자리

'0000015.00'

In [72]:
'{0: >10}'.format(15) # 남는 공간을 공백으로 채움

'        15'

In [73]:
'{0:>10}'.format(15) # 채우기 부분을 생략하면 공백이 들어감

'        15'

In [74]:
'{0:x>10}'.format(15) # 남는 공간을 문자 x로 채움

'xxxxxxxx15'

In [75]:
# 15.1 금액에서 천단위로 콤마 넣기

format(1493500, ',')

'1,493,500'

In [76]:
'%20s' % format(1493500, ',') # 길이 20, 오른쪽으로 정렬

'           1,493,500'

In [77]:
'{0:,}'.format(1493500)

'1,493,500'

In [78]:
'{0:>20}'.format(1493500) # 길이 20, 오른쪽으로 정렬

'             1493500'

In [79]:
'{0:<20}'.format(1493500) # 길이 20, 왼쪽으로 정렬

'1493500             '

In [84]:
'{0:0>20,}'.format(1493500) # 길이 20, 오른쪽으로 정렬하고 남는 공간은 0으로 채움

'000000000001,493,500'

### 24.4 연습문제 : 파일 경로에서 파일명만 가져오기

다음 소스 코드를 완성하여 파일 경로에서 파일명만 출력되게 만드세요. 단, 경로에서 폴더의 깊이가 달라지더라도 파일명만 출력할 수 있어야 합니다.

In [85]:
path = 'C:\\Users\\forev\\Desktop\\python\\python.exe'

x = path.split('\\')
filename = x[-1]

print(filename)

python.exe

In [86]:
# 참고 : raw 문자열 사용하기
# 문자열 앞에 r 또는 R 을 붙이면 raw 문자열이 된다. 이 raw 문자열은 이스케이프 시퀀스를 그대로 저장할 때 사용된다.
# 즉, 다음과 같이 \를 \\로 두 번 쓰지 않고 한 번만 써도 된다.

print(r'C:\Users\forev\Desktop\python\python.exe')

C:\Users\forev\Desktop\python\python.exe

In [87]:
print('C:\Users\forev\Desktop\python\python.exe')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-87-b6a9ba1ba500>, line 1)

In [90]:
print(r'1\n2\n3\n')

1\n2\n3\n

### 24.5 심사문제 : 특정 단어 개수 세기

표준 입력으로 문자열이 입력됩니다. 입력된 문자열에서 'the'의 개수를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 모든 문자가 소문자인 'the'만 찾으면 되며 'them', 'there', 'their' 등은 포함하지 않아야 합니다.

In [91]:
a = input().split()

count = 0
for i in a :
    if i.strip(',.') == 'the':
        count += 1
        
print(count)

the grown-ups' response, this time, was to advise me to lay aside my drawings of boa constrictors, whether from the inside or the outside, and devote myself instead to geography, history, arithmetic, and grammar. That is why, at the, age of six, I gave up what might  have been a magnificent career as a painter. I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two. Grown-ups never understand anything by  themselves, and it is tiresome for children to be always and forever explaining things to the.
6

### 24.6 심사문제 : 높은 가격순으로 출력하기

표준 입력으로 물품 가격 여러 개가 문자열 한 줄로 입력되고, 각 가격은 ;(세미콜론)으로 구분되어 있습니다. 입력된 가격을 높은 가격순으로 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 이때 가격은 길이를 9로 만든 뒤 오른쪽으로 정렬하고 천단위로 ,(콤마)를 넣으세요.

In [92]:
prices = list(map(int, input().split(';')))
prices.sort(reverse = True)
for i in prices:
    print('{0:>9,}'.format(i))

51900;83000;158000;367500;250000;59200;128500;1304000
1,304,000
  367,500
  250,000
  158,000
  128,500
   83,000
   59,200
   51,900