## UNIT 10 리스트와 튜플 사용하기

### 10.1 리스트 만들기

In [1]:
a = [1, 2, 3, 4, 5]
b = [] # 빈 리스트도 만들 수 있음
c = list() # 이것도 빈 리스트

In [2]:
c

[]

In [3]:
d = range(10)

In [4]:
d

range(0, 10)

In [5]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
b = list(range(5, 12))
b

[5, 6, 7, 8, 9, 10, 11]

In [7]:
c = list(range(-4, 10, 2))
c

[-4, -2, 0, 2, 4, 6, 8]

In [8]:
d = list(range(10, 0, -1))
d

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### 10.2 튜플 만들기

In [10]:
a = (38, 21, 53, 62, 19)
a
# 튜플 : 읽기 전용 리스트

(38, 21, 53, 62, 19)

In [12]:
a = 38, 21, 53, 62, 19
a
# 괄호를 사용하지 않아도 튜플을 만들 수 있다

(38, 21, 53, 62, 19)

In [13]:
(38)

38

In [14]:
(38, )

(38,)

In [15]:
38,

(38,)

In [16]:
# 한 개짜리 튜플은 왜 필요한가?
# 함수를 사용하다 보면 값이 아닌 튜플을 넣어야 할 경우가 있음
# 이때 값은 한 개지만 튜플을 넣어야 할 때 (값,)과 같은 형식을 사용함

In [17]:
a = tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [18]:
b = tuple(range(5, 12))
b

(5, 6, 7, 8, 9, 10, 11)

In [19]:
c = tuple(range(-4, 10, 2))
c

(-4, -2, 0, 2, 4, 6, 8)

In [21]:
a = [1, 2, 3]
tuple(a)
# 리스트를 튜플로 만들기

(1, 2, 3)

In [23]:
b = (4, 5, 6)
list(b)
# 튜플을 리스트로 만들기

[4, 5, 6]

### 10.4 연습문제 : range로 리스트 만들기

다음 소스 코드를 완성하여 리스트 [5, 3, 1, -1, -3, -5, -7, -9]가 출력되게 만드세요. 리스트를 만들 때는 range를 사용해야 합니다.

In [24]:
a = list(range(5, -11, -2))
a

[5, 3, 1, -1, -3, -5, -7, -9]

### 10.5 심사문제 : range로 튜플 만들기

표준 입력으로 정수가 입력됩니다. range의 시작하는 숫자는 -10, 끝나는 숫자는 10이며 입력된 정수만큼 증가하는 숫자가 들어가도록 튜플을 만들고, 해당 튜플을 출력하는 프로그램을 만드세요. (input에서 안내 문자열은 출력하지 않아야 합니다.)

In [25]:
x = int(input())
a = tuple(range(-10, 10, x))
a

3

(-10, -7, -4, -1, 2, 5, 8)