## UNIT 11 시퀀스 자료형 활용하기

### Sequence(시퀀스) : 연속적으로 이어져 있다는 뜻
### 시퀀스 자료형 : 연속적으로 이어진 자료형

### 11.1 특정 값이 있는지 확인하기

In [1]:
a = [0, 10, 20, 30, 40, 50]
30 in a

True

In [2]:
a = [0, 10, 20, 30, 40, 50]
30 not in a

False

### 11.2 시퀀스 객체 연결하기

In [3]:
a = [0, 10, 20, 30]
b = [9, 8, 7, 6]

a+b

[0, 10, 20, 30, 9, 8, 7, 6]

In [4]:
# range()는 연결할 수 없다
a = range(0, 10)
b = range(11, 20)
a + b

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [5]:
# 이럴 때는 이렇게!
list(range(0, 10)) + list(range(11, 20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [6]:
# 문자열끼리 연결 가능
'Hello, ' + 'world!'

'Hello, world!'

### 11.3 시퀀스 객체 반복하기

In [7]:
[0, 10, 20, 30] * 3

[0, 10, 20, 30, 0, 10, 20, 30, 0, 10, 20, 30]

In [8]:
'Hello world!' * 3

'Hello world!Hello world!Hello world!'

### 11.4 시퀀스 객체의 요소 개수 구하기

In [9]:
a = [1, 2, 3, 4, 5]
len(a)

5

In [10]:
len(range(0, 10, 2))

5

In [11]:
hello = 'Hello, world!'
len(hello)

13

### 11.5 인덱스 사용하기

In [12]:
a = [38, 21, 53, 62, 19]
a[0]

38

In [13]:
b = (1, 2, 3, 4, 5)
b[1]

2

### 11.6 마지막 요소에 접근하기

In [14]:
a = [38, 21, 53, 62, 19]
a[4]

19

In [15]:
a[len(a)-1]

19

### 11.7 요소에 값 할당하기

In [18]:
a = [0, 0, 0, 0, 0]

a[0] = 38
a[1] = 21
a[2] = 53
a[3] = 62
a[4] = 19

a

[38, 21, 53, 62, 19]

In [19]:
# 튜플은 값을 할당할 수 없음
b = (0, 0, 0)
b[0] = 38

TypeError: 'tuple' object does not support item assignment

### 11.8 del로 요소 삭제하기

In [20]:
a = [38, 21, 53, 62, 19]
del a[2]

a

[38, 21, 62, 19]

In [21]:
# 튜플은 요소를 삭제할 수 없다
# range와 문자열도 안에 저장된 요소를 삭제할 수 없다

### 11.9 슬라이스 사용하기

In [22]:
a = [10, 20, 30, 40, 50, 60, 70]

a[0:4]

[10, 20, 30, 40]

In [23]:
a = [10, 20, 30, 40, 50, 60, 70]

a[4:7]

[50, 60, 70]

In [24]:
a = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

a[2:8:3]

[30, 60]

In [25]:
a = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

a[:7]
# 리스트 처음부터 인덱스 6까지 가져옴

[10, 20, 30, 40, 50, 60, 70]

In [26]:
a = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

a[7:]
# 리스트 7부터 마지막 요소까지 가져옴

[80, 90, 100]

In [27]:
a = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

a[:]
# 리스트 전체를 가져옴

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [28]:
a = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

a[:7:2]
# 리스트의 처음부터 인덱스를 2씩 증가시키면서 인덱스 6까지 가져옴

[10, 30, 50, 70]

In [30]:
a = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

a[7::2]
# 인덱스 7부터 2씩 증가시키면서 리스트의 마지막 요소까지 가져옴

[80, 100]

In [32]:
# 튜플, range, 문자열에도 슬라이스 적용 가능

### 11.10 슬라이스에 요소 할당하기

In [33]:
a = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

a[2:5] = ['a', 'b', 'c']
a

[10, 20, 'a', 'b', 'c', 60, 70, 80, 90, 100]

In [34]:
# del로 슬라이스 삭제하기
a = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

del a[2:5]
a

[10, 20, 60, 70, 80, 90, 100]

### 11.11 연습문제 : 최근 3년간 인구 출력하기

리스트 year에 연도, population에 서울시 인구수가 저장되어 있습니다. 다음 소스 코드를 완성하여 최근 3년간 연도의 인구수가 리스트로 출력되게 만드세요.

In [37]:
year = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
population = [10249679, 10195318, 10143645, 10103233, 10022181, 9930616, 9857426, 9838892]

print(year[-3:])
print(population[-3:])

[2016, 2017, 2018]
[9930616, 9857426, 9838892]

### 11.12 연습문제 : 인덱스가 홀수인 요소 출력하기

다음 소스 코드를 완성하여 튜플 n에서 인덱스가 홀수인 요소들이 출력되게 만드세요.

In [42]:
n = -32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2

print(n[1::2])

(75, -10, 32, -15, 76, 2)

In [43]:
# 또는 n[1:12:2]
# 또는 n[1:len(n):2]

### 11.13 심사문제 : 리스트의 마지막 부분 삭제하기

표준 입력으로 숫자 또는 문자열 여려 개가 입력되어 리스트 x에 저장됩니다(입력되는 숫자 또는 문자열의 개수는 정해져 있지 않음). 다음 소스 코드를 완성하여 리스트 x의 마지막 요소 5개를 삭제한 뒤 튜플로 출력되게 만드세요.

In [63]:
x = input().split()
del x[-5:len(x)]

print(tuple(x))

1 2 3 4 5 6 7 8 9 10
('1', '2', '3', '4', '5')

### 11.14 심사문제 : 문자열에서 인덱스가 홀수인 문자와 짝수인 문자를 연결하기

표준 입력으로 문자열 두 개가 출력됩니다(문자열의 길이는 정해져 있지 않음). 첫 번째 문자열에서 인덱스가 홀수인 문자와 두 번째 문자열에서 인덱스가 짝수인 문자를 연결하여 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 연결 순서는 첫 번째 문자열, 두 번째 문자열 순입니다. 그리고 0은 짝수로 처리합니다.

In [64]:
x = input()
y = input()

c = x[1::2] + y[::2]
print(c)

python
strawberry
yhnsrwer